body {
  font-family: sans-serif;
  background-color: #F9FCF7;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-family: verdana;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding: 15px;
}

.navbar-nav.mr-auto {
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-end;
}

.on-a-budget {
  text-transform: lowercase;

}

.row {
  text-align: center;
  column-gap: 40px;
}

.col-sm {
   text-align: justify;
   padding-right: 25px;
   color: white;
}

.subheaders {
  font-family: verdana;
  text-align: left;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 1.5em;
}

.img-one {
  max-width: 100%;
  max-height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}

.col-one {
  background-color: #8693E1;
  padding: 10px;
  color: white;
  font-size: 1em;
}

.col-one:hover {
  background-color: #7484DD;
  transition: 0.6s ease;
}

.col-two {
  background-color: #6374D9;
  padding: 10px;
  color: white;
  font-size: 1em;
}

.col-two:hover {
  background-color: #7180DC;
  transition: 0.6s ease;
}

.col-three {
  background-color: #4156D1;
  padding: 10px;
  color: white;
  font-size: 1em;
}

.col-three:hover {
  background-color: #303F99;
  transition: 0.6s ease;
}

.col-four {
  background-color: #2A3786;
  padding: 10px;
  color: white;
  font-size: 1em;
}

.col-four:hover {
  background-color: #171E4A;
  transition: 0.6s ease;
}
