body {
  font-family: sans-serif;
  background-color: #E4E4E4;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-family: verdana;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding: 15px;
}

.navbar-nav.mr-auto {
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-end;
}

.navbar {
  background-color: black;
}


.row {
  text-align: center;
}

.col-sm {
   text-align: justify;
   margin-right: 20px;
   margin-left: 20px;
   padding-right: 10 px;
   padding-bottom: 50px;
   color: white;
}

.subheaders {
  font-family: verdana;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px black;
  border-bottom-style: solid;
  font-size: 1.25em;
}

.subheaders-two {
  font-family: verdana;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px white;
  border-bottom-style: solid;
  font-size: 1.25em;
}

.img-one {
  max-width: 100%;
  max-height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-two {
  max-width: 100%;
  max-height: auto;
}

.img-zero {
  max-width: 100%;
  max-height: auto;
  padding-top: 10px;
}

.header {
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: 10px;
  padding-top: 30px;
}

.col-one {
  background-color: #B54898;
  padding: 10px;
  color: black;
  font-size: 1em;
}

.col-one:hover {
  color: white;
  transition: 0.6s ease;
}

.col-two {
  background-color: #F2B72E;
  padding: 10px;
  color: black;
  font-size: 1em;
}

.col-two:hover {
  color: white;
  transition: 0.6s ease;
}

.col-three {
  background-color: #F76D36;
  padding: 10px;
  color: black;
  font-size: 1em;
}

.col-three:hover {
  color: white;
  transition: 0.6s ease;
}

.col-four {
  background-color: #338E6E;
  padding: 10px;
  color: black;
  font-size: 1em;
}

.col-four:hover {
  color: white;
  transition: 0.6s ease;
}

.col-five {
  color: white;
  padding: 10px;
  align-content: center;
  border: 2px solid black;
}

.col-six {
  background-color: #484DB5;
  color: black;
  padding: 10px;
}

.carousel-one {
  padding: 40px;
}

.section-two {
  background-color: white;
  color: black;
}

.section-three {
  background-color: white;
}


/* Add some padding and a grey background color to containers */
.newsletter {
  padding: 20px;
  background-color: white;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: blue;
  opacity: 0.8;
}

/*FOOTER*/

footer {
  background-color: black;
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  font-family: verdana;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}
